html {
	overflow-y: scroll;
	overflow-x: hidden;
}
h1 {
	font-family: "Georgia", Times;
	text-decoration-line: underline;
	color: #101e2e;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 40px;
}

body {
	font-family: "Verdana", serif;
	font-size: 1.05em;
	margin: 30px auto;
	width: 84%;
	line-height: 1.2;
}
